<!DOCTYPE html>
<html>
  <head>
    <title>DisOrder</title>
    <%= csrf_meta_tags %>
    
    <script type="text/javascript">
      window.homeIconURL = "<%= image_url('default-icon-no-bg.png') %>";
      window.yellowIcon = "<%= image_url('yellow-default-icon.png') %>";
      window.greenIcon = "<%= image_url('green-default-icon.png') %>";
      window.greyIcon = "<%= image_url('grey-default-icon.png') %>";
      window.redIcon = "<%= image_url('red-default-icon.png') %>";
      window.plus = "<%= image_url('plus-sign.png') %>";
      window.min = "<%= image_url('min-icon.png') %>";
      window.git = "<%= image_url('GitHubNew.png') %>";
      window.linkedIn = "<%= image_url('linkedinNew.png') %>";
    </script>
    <script type="text/javascript">
      window.logoutUrl = "<%= image_url('logout-icon.png') %>";
    </script>
    <%= favicon_link_tag  asset_path('favicon.ico')  %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
